<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<script type="text/javascript">
		var token = '<%= token %>';
	</script>
	<div class="dialog-wrap">
		<div id="history">
		<%
			rows.forEach(function(message) {
				var dt = new Date(message.created_at * 1000);
		%>
			<div class="message-row <%= !message.admin_id ? 'you' : ''%>">
				<div class="message-time">
					<%= (dt.toLocaleDateString() + ' ' + dt.toLocaleTimeString())%>
				</div>
				<%if (message.file){%>
					<img onclick="window.open(this.src);" src="<%= message.file %>">
				<%}%>
				<%if (message.message){%>
					<p><%= message.message %></p>
				<%}%>
			</div>
		<%
			})
		%>
		</div>
		<div class="typing-info" id="typing"></div>
		<div class="entering">
			<input type="text" name="message" id="message">
			<div class="mess-images"></div>
			<form name="upload">
				<input type="file" id="chatimage" name="chatimage" accept="image/*">
				<input type="submit" value="Upload">
			</form>
			<button id="send-message">Send</button>
		</div>
	</div>
	<div id="log"></div>
	<script src="/js/chat.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>