<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/admin-lobby.js"></script>
</head>
<body>
	<table>
		<thead>
			<th>ID</th>
			<th>Пользователь</th>
			<th>Новые сообщения</th>
		</thead>
		<tbody>
			<%
				users.forEach(function(user) {
			%>
				<tr>
					<td>
						<%= user.id %>
					</td>
					<td>
						<a href="/admin/dialog/<%= user.id %>">Войти</a>
					</td>
					<td data-dialog="<%= user.id %>"></td>
				</tr>
			<%
				})
			%>
		</tbody>
	</table>
</body>
</html>