body {
	position: absolute;
    height: 100%;
    width: 100%;
}

.dialog-wrap {
    height: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto
}

.mess-images img {
	max-width: 100px;
	max-height: 100px;
}

#history {
	height: 70%;
    max-height: 80%;
    overflow-y: scroll;
    width: 100%;
}

.message-row {
	width: 65%;
    border-style: solid;
    border-radius: 10px;
    border-color: beige;
    margin: 5px;
    padding: 5px;
}

.message-row.you {
	border-color: aliceblue;
	margin-left: auto;
}
.message-row img {
	max-height: 80px;
	max-width: 120px;
    cursor: pointer;
}

.typing-info {
	height: 40px;
}
.message-row .message-time {
    font-size: 0.7em;
}
.entering.error {
    background-color: rgba(255, 0, 0, 0.45);
}